/* root : {
    //backgroundColor: "gray",
    //fontSize: "30px"
    //color: "white",
    backgroundColor: "#21252b"
},

navBarButtons: {
    color: "white",
    fontSize: "20px"
},

NavBarDige : {
    //color: "white",
    //width: "100%",
    height: "auto",
    //backgroundColor: "gray",
    //fontSize: "30px"
}, */

.root {
    background-color: #21252b;
}

.navBarButtons {
    color: white;
    font-size: 20px;
}

.NavBarDige {
    height: auto;
}