
.root {
    background-color: beige;
    border-color: beige;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 30px;
    /* background-image: url("/src/image/letter-sajjad.png");
    background-position: center;  
    background-repeat: no-repeat;  
    background-size: contain;  */
}
.insideroot {
    width: 60%;
    text-align: center;
}

.paragraph {
    font-size: 20px;
}