
.root {
    text-align: center;
    margin: 40px;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    height: 50px;
}
.label {
    align-self: center;
    margin-right: 10px;
    font-weight: bolder;
}
.more {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
}
.less {
    margin-left: 10px;
    font-weight: bolder;
}
/* root: {
    textAlign: "center",
    margin: "40px",
    display: "flex",
    justifyContent: "center",
    border: "1px solid #ccc",
    //width: "100px",
    height: "50px"
},/*
/*
label: {
    alignSelf: "center",
    marginRight: "10px",
    fontWeight: "bolder"
},

more: {
    marginLeft: "10px",
    marginRight: "10px",
    fontWeight: "bolder"
},

less: {
    marginLeft: "10px",
    fontWeight: "bolder"
},

truckPictureDiv: {
    display: "flex",
    justifyContent: "flexEnd"
} */