.root {
    width: 50%;
    height: auto;
    background-color: beige;
    padding: 50px;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.header {
    text-align: right;
    font-weight: bolder;
}
/* header: {
    textAlign: "right",
    fontWeight: "bolder"
}, */
.paragraf {
    text-align: right;
    font-size: 25px;
}
.image {
    width: 100%;
    height: auto;
}
/* image: {
    width: "100%",
    height: "auto"
} */

@media only screen and (max-width: 1800px) {
    .root {
        width: 75%;
    }
}

@media only screen and (max-width: 1000px) {
    .root {
        width: 95%;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        font-size: 25px;
    }
    .paragraf {
        font-size: 15px;
    }
    .root {
        padding: 20px;
    }
}