
.rooter {
    display: flex;
    /* min-height: 600px; */
}

.imagediv {
    width: 50%;
    /* height: auto; */
    /* background-image: url("/src/image/lathe7.jpg");
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover;  */
}

.image {
    width: 100%;
    height: auto;
}

.root {
    width: 50%;
    height: auto;
    background-color: #21252b;
}

.insideroot {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
}

.Auth{
    background-color: darkblue;
    margin: auto;
    width: 80%;
    text-align: center;
    /* box-shadow: 0 2px 3px #ccc; */
    /* box-shadow: 10px 10px red; */
    border: 5px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.header {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 20px;
}

.paragraph {
    text-align: center;
    color: white;
    font-size: 30px;
}

.paragraphDiv {
    padding-left: 120px;
    padding-right: 120px;
}

.goToButtonDiv {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1660px) {
    .header {
        font-size: 40px;
    }

    .paragraph {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1400px) {
    .paragraphDiv {
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media only screen and (max-width: 1200px) {
    .rooter {
        display: block;
    }

    .root {
        width: 100%;
        height: auto;
    }

    .imagediv {
        width: 100%;
        height: auto;
    };
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        font-size: 35px;
    }

    .paragraph {
        font-size: 20px;
    }
}