@font-face {
	font-family: iranyekanFaNum;
	font-style: normal;
	font-weight: bold;
  src: url('fonts/iranyekanFaNum/woff/iranyekanwebregularfanum.woff') format("woff");
	/* src: url('/fonts/iranyekanFaNum/eot/iranyekanwebboldfanum.eot');
	src: url('/fonts/iranyekanFaNum/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),  
		 url('/fonts/iranyekanFaNum/woff/iranyekanwebboldfanum.woff') format('woff'),
		 url('/fonts/iranyekanFaNum/ttf/iranyekanwebboldfanum.ttf') format('truetype'); */
}

body {
  margin: 0;
  font-family: iranyekanFaNum !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
